<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<!-- inject ot action -->
	<bean id="userAction" class="com.contact.action.ContactLogin">
		<property name="loginController" ref="logincontroller" />
	</bean>
	<bean id="members" class="com.contact.action.ContactMember" >
	 	<property name="memberController" ref="membercontroller"></property>
	</bean>
	<bean id="buyasset" class="com.contact.action.ContactBuyAsset" >
	 	<property name="buyAssetController" ref="buyassetcontroller"></property>
	</bean>
	<bean id="analysisbuyasset" class="com.contact.action.ContactAnalysisBuyAsset">
		<property name="analysisBuyAssetController" ref="analysisbuyassetcontroller"></property>
	</bean>
	<bean id="preditionbuyasset" class="com.contact.action.ContactPredictionBuyAsset">
		<property name="predictionByAssetController" ref="predictionbuyassetcontroller"></property>
	</bean>
	

	<!-- inject to Controller -->
	<bean id="logincontroller" class="com.controller.implement.LoginController">
		<property name="loginDao" ref="logindao" />
	</bean>
	<bean id="membercontroller" class="com.controller.implement.MemberContoller">
		<property name="memberDao" ref="member" />
	</bean>
	<bean id="buyassetcontroller" class="com.controller.implement.BuyAssetController">
		<property name="buyAssetDao" ref="buyassetdao" />
	</bean>
	<bean id="analysisbuyassetcontroller" class="com.controller.implement.AnalysisBuyAssetController">
		<property name="buyAssetDao" ref="buyassetdao"></property>
	</bean>
	<bean id="predictionbuyassetcontroller" class="com.controller.implement.PredictionBuyAssetController">
		<property name="buyAssetDao" ref="buyassetdao"></property>
	</bean>

	<!-- inject to Dao -->
	<bean id="logindao" class="com.dao.implement.LoginDao" />
	<bean id="member" class="com.dao.implement.MemberDao" />
	<bean id="rmprofile" class="com.dao.implement.RMProfileDao" />
	<bean id="buyassetdao" class="com.dao.implement.BuyAssetDao" />

</beans>